.layout{
    margin-left: 1rem;
}

#lengde{
    padding: 0.5rem;
}

#sendKnapp{
    padding: 1rem;
    display: block; 
    margin: 1rem 0rem 1rem 0rem
}

#ferdigPassord{
    margin: 0rem 0rem 1rem 0rem;
    padding: 0.5rem;
    min-width: 210px;
}

h2{
    font-size: 20px;
    font-weight:200;
    margin-top: 2rem;
}

h3{
    font-size: 15px;
    font-weight: 100;
}